<!DOCTYPE html>
<html ng-app='MatchupPictureGen'>
	<head>
		<title>Matchup Generator: Smash Bros</title>
		<style>
			div.wrapper{
				align:center;
				width:1200px;
				overflow:hidden;
			}
			div.form{
				width:28%;				
				float:left;
				background-color:#bfbfbf;
				border: 2px solid black;	
			}
			div.preview{
				width:68%;			
				background-color:#a6a6a6;
				border: 2px solid black;
				float:left;
			}
			canvas.preview{
				border: 1px solid black;
			}
		</style>
	</head>
	
	<body ng-controller='MainCtrl'>
		<div class='wrapper'>
			<div class='form'>
				<h2>Options</h2>
				<form id='previewForm'>
					Background Image: <input type='file' id='bgImageFile' value='Browse' onchange='handleImage(this)'/>
					<br />
					<br />
					Player 1: <input type='text' id='player1Textbox' />
					<br />
					<br />
					Character 1:
					<select id='player1CharacterDropdown'>
						<option ng-repeat='character in characters' value='{{character}}'>{{character}}</option>
					</select>
					<br />
					<br />		
					Player 2: <input type='text' id='player2Textbox' />
					<br />
					<br />
					Character 2:
					<select id='player2CharacterDropdown'>
						<option ng-repeat='character in characters' value='{{character}}'>{{character}}</option>
					</select>
					<br />
					<br />					
				</form>
			</div>
			<div class='preview'>
				<span>
					<h2>Preview</h2>
				</span>
				<span>
					<canvas id='previewCanvas' height='240' width='420'>
						
					</canvas>
				</span>
				<span>
					<input type='button' id='submitPictureBtn' value='Save' onclick='submitPicture()'/>
				</span>
			</div>
		</div>
	</body>
	
	<script src='/scripts/jquery.js'></script>
  	<script src='/scripts/angular.min.js'></script> 
  	<script src='/scripts/application.js'></script>
  	<script src='/scripts/canvasImpl.js'></script>
</html>