<!DOCTYPE html>
<html ng-app='MatchupPictureGen'>
	<head>
		<title>Matchup Generator: Smash Bros</title>
		<link rel='stylesheet' type='text/css' href='/styles/bootstrap.min.css' /> 
		<style>
			div.wrapper{
				align:center;
				width:1800px;
				overflow:hidden;
			}
			div.form{
				width:28%;				
				float:left;
				background-color:#bfbfbf;
				border: 2px solid black;	
			}
			div.preview{
				text-align:center;
				width:68%;			
				background-color:#a6a6a6;
				border: 2px solid black;
				float:left;
			}
			canvas.preview{
				border: 1px solid black;
			}
		</style>
	</head>
	
	<body ng-controller='MainCtrl'>
		<div class='wrapper'>
			<div class='form'>
				<h2>Options</h2>
				<form id='previewForm'>
					Background Image: <input type='file' id='bgImageFile' value='Browse' onchange='handleImage(this)'/>
					<br />
					<br />
					<span>
					Player 1: <input type='text' id='player1Textbox' ng-model='player1' />
					
					Player 2: <input type='text' id='player2Textbox' ng-model='player2' />
					<br />
					<br />
					</span>
					<span>
					Character 1:
					<select id='player1CharacterDropdown'>
						<option ng-repeat='character in characters' value='{{character}}' 
							ng-model='character1' id='character1' >
							{{character}}
						</option>
					</select>
					
					Character 2:
					<select id='player2CharacterDropdown'>
						<option ng-repeat='character in characters' value='{{character}}' 
							ng-model='character2' id='character2' >
							{{character}}
						</option>
					</select>
					</span>
					
					<br />
					<br />					
				</form>
			</div>
			<div class='preview'>
				<span>
					<h2>Preview</h2>
				</span>
				<span>
					<canvas id='previewCanvas' height='520' width='1080'>
						
					</canvas>
				</span>
				<span>
					<input type='button' id='submitPictureBtn' value='Save' onclick='submitPicture()'/>
					<input type='button' id='testBtn' value='test' onclick='drawCharacter("/images/Melee/Thumbs/Sheik.png", 1)'/>
				</span>
				<!-- 
					<img src='/images/Melee/Thumbs/Sheik.png' />
				-->
			</div>
		</div>
	</body>
	
	
	<script src='/scripts/jquery.js'></script>
	<script src='/scripts/bootstrap.min.js'></script>
  	<script src='/scripts/angular.min.js'></script> 
  	<script src='/scripts/config.js'></script>
  	<script src='/scripts/application.js'></script>
  	<script src='/scripts/canvasImpl.js'></script>
</html>